/* @media screen and (max-width: 720px) {
    .parentForMapList{
        display:'flex';
        flex-wrap: wrap;
        flex-flow: row;
    }
    .parentForMapList .Siva{
        width: 100vh;
    }
}

@media screen and (min-width: 721px) {
    .parentForMapList{
        display:'flex';
        flex-wrap: wrap;
        flex-flow: column;
    }
    .parentForMapList .Siva{
        width: 60vh;
    }
}
 */

/* 
.lapTop{
    font-size: 100px;
} */

